.movies-container{
    border: 1px solid black;
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    gap: 10px;
}

.container {

    margin: 0 100px;
    padding-bottom: 100px;
}