<mat-toolbar  class="fixed-top">
    <span>
        <a routerLink="" mat-button>
            <mat-icon>local_movies</mat-icon> Angular Filmovi
        </a>
    </span>

    <div>
        <a mat-button  routerLink="genres">
            <mat-icon></mat-icon>     Genres
        </a>
    </div>


    <div>
        <a mat-button  routerLink="actors">
            <mat-icon></mat-icon>     Actors
        </a>
    </div>

    <div>
        <a mat-button  routerLink="theaters">
            <mat-icon></mat-icon>     Theaters
        </a>
    </div>

    <div>
        <a mat-button  routerLink="movies/create">
            <mat-icon></mat-icon>     Create Movies
        </a>
    </div>


</mat-toolbar>