


@if (!elements){
    <span #loading><ng-content select="[loading]"></ng-content></span>

    @if(!loading.innerHTML.trim()){
        
        <div>
          <img src="assets\load.gif" />
        </div>

    }


  }@else if (elements.length === 0) {

    <span #empty><ng-content select="[empty]"></ng-content></span>
     
    @if(!empty.innerHTML.trim()){

        <div>
          <p> nema elements uopce</p>
        </div> 

    }
  }
  
    @else{
       
       <ng-content select="[content]"></ng-content>
  
    }
  
  